<a href="https://colab.research.google.com/github/pbhuch/GL_DecA_G4_NLP1/blob/NLP1_PG/GL_DecA_G4_NLP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Great Learning : AIML Online Capstone -AUTOMATIC TICKET ASSIGNMENT

DecA : Group 4: NLP 1

Group Members :
1. Priya Moily
2. Priyanka Gupta
3. Avinash Balani
4. Priyank Bhuch

Importing relavant Libraries

In [ ]:
import pandas as pd
import numpy as np
import os

In [25]:
# mount google drive

from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [26]:
# read in the data
df = pd.read_csv('/content/sample_data/dataset1_combined.csv')

df.head()

   Unnamed: 0  ...                        combined_description_caller
0           0  ...  login issue -verified user details.(employee# ...
1           1  ...  outlook _x000D_\n_x000D_\nreceived from: hmjdr...
2           2  ...  cant log in to vpn _x000D_\n_x000D_\nreceived ...
3           3  ...  unable to access hr_tool page unable to access...
4           4  ...          skype error skype error owlgqjme qhcozdfx

[5 rows x 7 columns]